{% extends 'base.html.twig' %}

{% block body %}
    <h1>Juodieji URL sąrašai</h1>

    <h2>
        Šioje svetainėje galite rasti juoduosius URL sąrašuos, juo čia talpina svetainėje regstruoti vartotojai. 
      
    </h2>
    <br>
    <p>
    	 Norėdami pridėti tinklapį į juodusiusi sąrašus, turite užsiregistruoti ir užpildyti prašymo formą. 
    	 Tą patį reiktų padaryti norinti išimti tinklapio adresą iš sąrašo.
    </p>
 
    
    <a href="/links" class="btn btn-success">Žiūrėti sąrašus</a>

{% endblock %}