{% extends 'base.html.twig' %}

{% block body %}
    <h1>Juodieji URL sąrašai</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus harum error accusamus numquam beatae ad praesentium fugit animi, sunt, optio perferendis quia. Fuga perferendis architecto veritatis explicabo fugit dolorem eligendi nulla facilis veniam sapiente, libero in omnis voluptatibus quibusdam. Ipsam amet nulla consectetur, ullam est libero voluptatibus et fugiat consequuntur!
    </p>
    
    <a href="/links" class="btn btn-success">Žiūrėti sąrašus</a>

{% endblock %}